<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">
    <delete id="delete" parameterType="java.util.List">
        DELETE FROM student WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="org.example.pojo.Student">
        <!-- 动态sql -->
        SELECT s.*, c.name as clazz_name
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        <where>
            <!-- 动态条件拼接（自动处理 AND/OR 连接） -->
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="degree != null">
                AND s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                AND s.clazz_id = #{clazzId}
            </if>
        </where>
        ORDER BY s.update_time DESC
    </select>
</mapper>